<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.reservation.mapper.ReservationMapper">
    <!-- Insert a new reservation -->
    <insert id="addReservation" parameterType="com.team.reservation.VO.ReservationVO">
        INSERT INTO reservation (user_id, performance_id)
        VALUES (#{user_id}, #{performance_id})
    </insert>

    <delete id="deleteReservationById" parameterType="Integer">
        DELETE FROM reservation WHERE id = #{id}
    </delete>

    <select id="getUserIdByReservationId" parameterType="Integer" resultType="Integer">
        SELECT user_id FROM reservation WHERE id = #{id}
    </select>

    <select id="getReservationsByUserId" parameterType="Integer" resultType="com.team.reservation.VO.ReservationVO">
        SELECT * FROM reservation WHERE user_id = #{userId}
    </select>


</mapper>