<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--   set VO here     -->
        <typeAlias alias="User" type="com.team.user.VO.UserVO"/>
    </typeAliases>
    <mappers>
        <mapper class = "com.team.user.mapper.UserMapper" />
    </mappers>
</configuration>